<h1>Hola Pagina DragonBall</h1>
<hr />

<section class="row">
    <div class="col-12 col-sm-6">
        <h3>Agregar:{{ name() }}</h3>
        <input type="text" 
        class="form-control" 
        placeholder="Nombre"
        [value]="name()"
        (change)="name.set(txtName.value)"
        (input)="name.set(txtName.value)"
        #txtName
        />
        <h3>{{power()}}</h3>
        <input type="number"
        class="form-control mt2" 
        placeholder="Poder"
        [value]="power()"
        (input)="power.set(+txtPower.value)"
        #txtPower
        />

        <button (click)="addCharacter()" 
        class="mt-2 btn btn-primary">Agregar</button>
    </div>

    <div class="col-12 col-sm-6">
    <h3>Listado</h3>

    <ol>
        @for(character of characters(); track character.id; let idx = $index){
        @if(character.power > 500){
        <ul>
            <span>{{idx + 1}} - {{character.name}}</span>
            <strong class="text-danger"> {{character.power}}</strong>
        </ul>
            } @else {
                <li>hay mas elementos inferiores</li>
            }   
        }

    </ol>
</div>
</section>

